@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*,
*:before,
*:after {
    box-sizing: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    color: #48453f;
}

body a:hover {
    text-decoration: none;
}

.hidden {
    position: absolute;
    left: -10000px;
}


/* HEADER */

header {
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: "Raleway", sans-serif;
    background-color: #414142;
}

header h1 {
    font-size: 50px;
    font-weight: 900;
    color: #47a2da;
}

#portfolio {
    color: #FFF;
}

.search {
    position: relative;
    min-width: 200px;
    margin-top: 20px;
    border: none;
}



.search .fa-search {
     background-color: #FFF;
   color: #414142;
    position: relative;
    right: 30px;
    box-shadow: none;
  left: 0;

}

.search .fa-search:hover {

   color: #47a2da;
    position: relative;
    right: 30px;
    box-shadow: none;

}


/* NAV */

.navlist {
    display: block;

    margin-top: 45px;
}

.main-nav li {
    display: inline;
    margin-right: 5%;
}

.main-nav ul a {
    font: 18px;
    font-weight: 800;
    color: #FFF;
    list-style: none;
}

.main-nav ul a:hover {
    text-decoration: none;
    color: #47a2da;
}


/* LOGIN */

.login-status {
    margin-top: 25px;
    font-weight: 500;
    color: #00aaff;
    text-align: right;
}

.login-status a {
    color: #00aaff;
}

.login-status a:hover {
    text-decoration: none;
    color: #47a2da;
}



/* LOGIN */

.login-status {
    margin-top: 25px;
    font-weight: 500;
    color: #00aaff;
    text-align: right;
}

.login-status a {
    color: #00aaff;
}

.login-status a:hover {
    text-decoration: none;
    color: #47a2da;
}

/* MAIN */

main {
    margin-bottom: 150px;
}

.current-nav {
    font: 300 13px "lato", sans-serif;
    color: #48453f;
    margin-top: 20px;
}

main h2 {
    font: 900 40px "lato", sans-serif;
    margin: 150px 0 0 0;
    text-align: center;
    color: #48453f;
}

.title-sec {
    max-width: 30%;
    margin: 0 auto;
    text-align: center;
}

.title-sec h2 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #47a2da;
}

.title-sec .prog-name {
    text-align: center;
    padding: 20px 0;
    font: 400 25px "lato", sans-serif;
    color: #48453f;
}

.dropdown-list {
    display: inline;
}


/* STUDENTS */

.class-of {
    padding: 10%;
}

.class-of a {
    font: 400 18px "lato", sans-serif;
    color: #48453f;
}

.class-of a:hover {
    text-decoration: none;
    color: #47a2da;
}

.class-of .name {
    display: block;
    text-align: center;
    width: 200px;
    margin: 20px 0 50px 0;
}

.profile-pic {
    background-color: #888888;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


/* FOOTER */

footer {
    border-top: 1px solid #47a2da;
    margin: 0 12%;
    padding: 10px 0;
    font: 400 12px "Raleway", sans-serif;
}